:root {
    --dark: #1e1e1e;
    --green: #1ed760;
    --yellow: #ffe100;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    background: #252526;
    color: whitesmoke;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #1e1e1e, #333333, #252526 );
    padding: 1rem 2rem;
}

.logo-group {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.logo {
    position: relative;
    left: -1rem;
    top: 0.1rem;
}

.pageName {
    position: relative;
    left: -1rem;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.navLink {
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    left: 0;
}

.navLink a {
    text-decoration: none;
    list-style: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.navLink a:hover {
    color: var(--green);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2em;
    height: 2px;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--yellow);
}

@media only screen and (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navLink {
        position: fixed;
        top: -50%;
        flex-direction: column;
        gap: 0;
        background: linear-gradient(200deg, #333333, #1e1e1e);
        width: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }

    .navLink a {
        padding: 1rem 0;
        margin: 0;
        border-bottom: 2px dashed #333333;
        transition: all 0.2s ease-in-out;
    }

    .navLink.active {
        top: 82px;
        left: 0;
        opacity: 1;
    }


    .images{
        width: 250px;
    }

    .button,
    .letter-key{
        display: none;
    }
}

.line{
    border: 1px solid #333333;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.heading {
    text-transform: uppercase;
    padding: 0 1rem;
    margin-top: 72px;
    margin-bottom: 0;
    max-width: 90vw;
    font-size: 4.5rem;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    line-height: 120%;
    color: var(--green);
}

.highlight {
    color: var(--yellow);
}

.sub-heading {
    margin: 0;
    max-width: 80vw;
    text-align: center;
    font-size: 1.75rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 3rem 4rem;
}

.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 1.5rem;
}

.images{
    border-radius: 50%;
    border: 5px solid var(--green);
    max-width: 320px;
    transition: all 0.3s;
}
/*s
.images:hover{
    border: 8px solid #a0fcc2;
}*/

 .caption{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
 }

 .button {
    width: 200px;
    padding: 0.75rem;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    background: linear-gradient(220deg, #616161, #353536, #616161);
    color: white;
 }

 .letter-key{
    color: #1ed760;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0 5px;
 }

 .emphasize{
    color: var(--yellow);
    font-weight: 600;
 }

 .playing{
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(35deg, hsla(142, 94%, 81%, 1) 23%, hsla(240, 1%, 15%, 1) 31%, hsla(240, 1%, 15%, 1) 70%, hsla(142, 94%, 81%, 1) 76%) border-box;
    
    border: 20px solid transparent;
    
 }

 #footer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }

 .frame {
    display: block;
    padding: 2rem;
    border: 3px solid var(--green);
    margin: 0 auto;
    
 }

 .frame-caption {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    line-height: 90%;
 }

 .disclaimer {
    font-size: 1.3rem;
    width: 80%;
    text-align: justify;
    padding: 2rem;
 }

 #end {
    margin-top: 6rem;
    background-color: #1e1e1e;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
 }

 #end a{
    text-decoration: none;
    color: #1ed760;
 }

 #end p{
    padding: 0 1.5rem;
 }
